- df回顾
    - 索引操作
        - df['col']:索引取列
        - df.iloc['index']:索引取行
        - df.iloc[index,col]:索引取元素
    - 切片操作
        - df[index1:index3]:切行
        - df.iloc[:,col1:col3]:切列

- tushare财经数据接口包
    - pip install tushare
    - 作用：提供相关指定的财经数据

In [6]:
import tushare as ts
import pandas as pd

### 需求：股票分析
- 使用tushare包获取某股票的历史行情数据。
- 输出该股票所有收盘比开盘上涨3%以上的日期。
- 输出该股票所有开盘比前日收盘跌幅超过2%的日期。
- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [3]:
data = ts.get_k_data(code='600519',start='1999-1-1')
data

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

            date      open     close      high       low     volume    code
0     2001-08-27     5.392     5.554     5.902     5.132  406318.00  600519
1     2001-08-28     5.467     5.759     5.781     5.407  129647.79  600519
2     2001-08-29     5.777     5.684     5.781     5.640   53252.75  600519
3     2001-08-30     5.668     5.796     5.860     5.624   48013.06  600519
4     2001-08-31     5.804     5.782     5.877     5.749   23231.48  600519
5     2001-09-03     5.812     5.779     5.870     5.757   22112.09  600519
6     2001-09-04     5.782     5.852     5.949     5.762   37006.77  600519
7     2001-09-05     5.876     5.849     5.924     5.813   26066.95  600519
8     2001-09-06     5.835     5.734     5.854     5.704   28997.03  600519
9     2001-09-07     5.702     5.574     5.773     5.570   31552.25  600519
10    2001-09-10     5.531     5.734     5.757     5.470   18878.89  600519
11    2001-09-11     5.749     5.670     5.773     5.656   11390.81  600519
12    2001-09-12     5.520     5.621     5.656     5.515   25045.19  600519
13    2001-09-13     5.626     5.607     5.671     5.577   10986.68  600519
14    2001-09-14     5.626     5.671     5.702     5.593    7672.83  600519
15    2001-09-17     5.637     5.599     5.670     5.546    8983.97  600519
16    2001-09-18     5.606     5.663     5.710     5.601   10773.26  600519
17    2001-09-19     5.671     5.768     5.768     5.634    8650.53  600519
18    2001-09-20     5.765     5.720     5.788     5.702   11173.35  600519
19    2001-09-21     5.668     5.634     5.718     5.624    7879.72  600519
20    2001-09-24     5.634     5.632     5.685     5.624    4068.60  600519
21    2001-09-25     5.668     5.660     5.709     5.632    3488.45  600519
22    2001-09-26     5.642     5.637     5.699     5.624    4956.26  600519
23    2001-09-27     5.637     5.734     5.777     5.624    8778.04  600519
24    2001-09-28     5.765     5.795     5.812     5.702   17088.47  600519
25    2001-10-08     5.781     5.715     5.809     5.663    6552.17  600519
26    2001-10-09     5.718     5.827     5.859     5.718    9558.52  600519
27    2001-10-10     5.827     5.640     5.848     5.629   17548.69  600519
28    2001-10-11     5.626     5.585     5.702     5.570   12306.84  600519
29    2001-10-12     5.609     5.624     5.726     5.320   20010.70  600519
...          ...       ...       ...       ...       ...        ...     ...
4513  2020-07-27  1616.010  1622.550  1629.800  1600.000   38788.00  600519
4514  2020-07-28  1630.000  1670.000  1680.000  1630.000   54912.00  600519
4515  2020-07-29  1690.000  1672.000  1690.000  1633.000   50748.00  600519
4516  2020-07-30  1671.200  1680.000  1700.590  1670.500   38373.00  600519
4517  2020-07-31  1685.000  1678.180  1705.000  1646.000   40685.00  600519
4518  2020-08-03  1686.880  1668.000  1696.580  1660.000   34661.00  600519
4519  2020-08-04  1675.000  1669.990  1682.990  1660.000   31941.00  600519
4520  2020-08-05  1662.090  1668.000  1673.090  1643.310   25522.00  600519
4521  2020-08-06  1670.000  1637.960  1674.030  1630.000   32649.00  600519
4522  2020-08-07  1644.770  1631.000  1649.670  1598.500   34242.00  600519
4523  2020-08-10  1627.970  1633.990  1644.960  1608.110   23624.00  600519
4524  2020-08-11  1640.000  1642.510  1666.430  1640.000   35818.00  600519
4525  2020-08-12  1633.000  1626.950  1641.000  1605.250   27934.00  600519
4526  2020-08-13  1630.000  1635.000  1638.880  1609.000   20541.00  600519
4527  2020-08-14  1639.900  1661.000  1665.700  1631.000   37653.00  600519
4528  2020-08-17  1674.000  1690.000  1704.350  1670.000   43572.00  600519
4529  2020-08-18  1697.380  1705.000  1720.000  1691.000   30423.00  600519
4530  2020-08-19  1700.000  1687.000  1717.000  1682.990   26915.00  600519
4531  2020-08-20  1674.000  1664.000  1679.000  1656.000   22382.00  600519
4532  2020-08-21  1673.000  1676.000  1698.000  1671.000   25082.00  600519
4533  2020-08-24  1700.000  1696.350  1708.000  1691.010   30933.00  600519
4534  2020-08-25  1704.800  1727.000  1746.780  1698.630   41872.00  600519
4535  2020-08-26  1734.000  1727.000  1745.000  1715.020   26216.00  600519
4536  2020-08-27  1731.990  1731.000  1733.980  1705.000   22636.00  600519
4537  2020-08-28  1731.000  1757.000  1764.000  1721.500   42300.00  600519
4538  2020-08-31  1770.580  1786.500  1816.000  1770.580   47810.00  600519
4539  2020-09-01  1792.000  1801.980  1802.000  1775.010   31640.00  600519
4540  2020-09-02  1825.000  1795.000  1828.000  1770.000   32009.00  600519
4541  2020-09-03  1795.000  1793.000  1812.000  1779.700   30437.00  600519
4542  2020-09-04  1766.000  1770.000  1776.990  1746.000   30858.00  600519

[4543 rows x 7 columns]

In [4]:
data.info()
#发现date列为字符串类型，需要将其转换成时间序列类型

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 0 to 4542
Data columns (total 7 columns):
date      4543 non-null object
open      4543 non-null float64
close     4543 non-null float64
high      4543 non-null float64
low       4543 non-null float64
volume    4543 non-null float64
code      4543 non-null object
dtypes: float64(5), object(2)
memory usage: 283.9+ KB

In [8]:
data['date'] = pd.to_datetime(data['date'])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 0 to 4542
Data columns (total 7 columns):
date      4543 non-null datetime64[ns]
open      4543 non-null float64
close     4543 non-null float64
high      4543 non-null float64
low       4543 non-null float64
volume    4543 non-null float64
code      4543 non-null object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 283.9+ KB

In [10]:
data.head()

        date   open  close   high    low     volume    code
0 2001-08-27  5.392  5.554  5.902  5.132  406318.00  600519
1 2001-08-28  5.467  5.759  5.781  5.407  129647.79  600519
2 2001-08-29  5.777  5.684  5.781  5.640   53252.75  600519
3 2001-08-30  5.668  5.796  5.860  5.624   48013.06  600519
4 2001-08-31  5.804  5.782  5.877  5.749   23231.48  600519

In [14]:
#将date列的数据作为整个源数据的行索引
data.set_index('date',inplace=True)

In [15]:
data.head()

             open  close   high    low     volume    code
date
2001-08-27  5.392  5.554  5.902  5.132  406318.00  600519
2001-08-28  5.467  5.759  5.781  5.407  129647.79  600519
2001-08-29  5.777  5.684  5.781  5.640   53252.75  600519
2001-08-30  5.668  5.796  5.860  5.624   48013.06  600519
2001-08-31  5.804  5.782  5.877  5.749   23231.48  600519

In [18]:
#输出该股票所有收盘比开盘上涨3%以上的日期
#(收盘-开盘)/开盘 > 0.03
(data['close'] - data['open']) / data['open'] > 0.03

date
2001-08-27     True
2001-08-28     True
2001-08-29    False
2001-08-30    False
2001-08-31    False
2001-09-03    False
2001-09-04    False
2001-09-05    False
2001-09-06    False
2001-09-07    False
2001-09-10     True
2001-09-11    False
2001-09-12    False
2001-09-13    False
2001-09-14    False
2001-09-17    False
2001-09-18    False
2001-09-19    False
2001-09-20    False
2001-09-21    False
2001-09-24    False
2001-09-25    False
2001-09-26    False
2001-09-27    False
2001-09-28    False
2001-10-08    False
2001-10-09    False
2001-10-10    False
2001-10-11    False
2001-10-12    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
2020-08-03    False
2020-08-04    False
2020-08-05    False
2020-08-06    False
2020-08-07    False
2020-08-10    False
2020-08-11    False
2020-08-12    False
2020-08-13    False
2020-08-14    False
2020-08-17    False
2020-08-18    False
2020-08-19    False
2020-08-20    False
2020-08-21    False
2020-08-24    False
2020-08-25    False
2020-08-26    False
2020-08-27    False
2020-08-28    False
2020-08-31    False
2020-09-01    False
2020-09-02    False
2020-09-03    False
2020-09-04    False
Length: 4543, dtype: bool

In [19]:
#经验分享：在df的相关处理中，如果获取了一组布尔值，下一步马上将布尔值作为df的行索引即可
data.loc[(data['close'] - data['open']) / data['open'] > 0.03]
#如果将布尔值作为源数据的行索引，表示将true对应的行数据保留，false对应的行数据舍弃

                open     close      high       low     volume    code
date
2001-08-27     5.392     5.554     5.902     5.132  406318.00  600519
2001-08-28     5.467     5.759     5.781     5.407  129647.79  600519
2001-09-10     5.531     5.734     5.757     5.470   18878.89  600519
2001-12-21     5.421     5.604     5.620     5.421    8135.04  600519
2002-01-18     5.437     5.726     5.762     5.421   32262.08  600519
2002-01-31     5.624     5.874     5.937     5.624   40828.30  600519
2003-01-14     4.429     4.611     4.668     4.399    9588.25  600519
2003-10-29     4.132     4.260     4.266     4.132    7084.96  600519
2004-01-05     4.862     5.114     5.124     4.862    8539.75  600519
2004-01-14     5.347     5.593     5.647     5.302   25095.74  600519
2004-01-29     5.424     5.610     5.622     5.424    5353.72  600519
2004-02-26     5.308     5.473     5.478     5.269   10313.48  600519
2004-03-02     5.463     6.031     6.079     5.463   25187.62  600519
2004-03-16     6.474     6.763     6.865     6.414   30957.61  600519
2004-03-24     6.528     6.790     6.819     6.505   13295.74  600519
2004-04-07     7.218     7.530     7.565     7.218   18692.20  600519
2004-04-08     7.536     7.842     7.850     7.501   15913.24  600519
2004-04-30     7.030     7.251     7.264     6.976   12961.66  600519
2004-05-13     7.071     7.321     7.323     7.071   14720.22  600519
2004-07-01     6.357     6.792     6.810     6.355    2781.62  600519
2004-07-05     6.860     7.198     7.211     6.860    5202.29  600519
2004-07-13     7.242     7.478     7.496     7.242    6419.32  600519
2004-07-15     7.511     7.778     7.790     7.511   28186.18  600519
2004-07-23     7.750     7.994     8.004     7.724   10551.81  600519
2004-09-15     7.567     7.915     7.925     7.526   11409.58  600519
2004-09-23     8.159     8.492     8.517     8.159   17667.48  600519
2004-10-19     8.842     9.142     9.198     8.817   10583.64  600519
2004-10-22     9.409     9.948    10.014     9.401   18161.45  600519
2004-11-10     9.655    10.024    10.120     9.655   11288.62  600519
2004-11-25     9.251     9.561     9.676     9.251    5924.14  600519
...              ...       ...       ...       ...        ...     ...
2018-09-18   643.000   666.700   668.000   642.220   37858.00  600519
2018-09-26   702.100   724.930   732.680   701.990   72287.00  600519
2018-10-19   638.000   670.000   675.000   635.080   76199.00  600519
2018-10-31   527.000   548.900   555.000   522.000   96884.00  600519
2018-11-13   546.120   570.000   570.000   543.000   66429.00  600519
2018-12-28   563.300   590.010   596.400   560.000   63678.00  600519
2019-01-15   627.860   659.980   661.500   625.000   55764.00  600519
2019-02-11   695.000   725.300   729.500   688.180   58140.00  600519
2019-03-01   761.500   789.300   790.000   761.000   63840.00  600519
2019-03-18   778.800   810.090   814.530   777.000   81318.00  600519
2019-04-10   903.000   947.990   951.900   900.000   67814.00  600519
2019-04-16   904.900   939.900   939.900   901.220   46423.00  600519
2019-05-10   875.660   907.120   910.780   868.190   79907.00  600519
2019-05-15   890.240   927.000   933.000   890.240   63124.00  600519
2019-06-11   876.000   910.890   915.610   875.000   80106.00  600519
2019-06-20   932.500   975.000   975.500   932.200   67271.00  600519
2019-09-12  1066.000  1099.000  1109.980  1066.000   41211.00  600519
2019-09-18  1108.500  1148.900  1150.000  1108.180   69314.00  600519
2020-02-11  1063.000  1098.000  1099.680  1062.800   47917.00  600519
2020-03-02  1050.110  1086.010  1096.550  1050.010   47663.00  600519
2020-03-05  1136.310  1171.000  1174.990  1130.560   62426.00  600519
2020-03-10  1113.000  1156.000  1168.000  1113.000   58062.00  600519
2020-04-02  1104.000  1145.000  1145.000  1103.880   45206.00  600519
2020-04-22  1206.000  1244.500  1249.500  1202.220   44035.00  600519
2020-05-06  1251.000  1300.000  1300.000  1250.000   35835.00  600519
2020-05-18  1306.000  1346.210  1351.500  1305.130   34362.00  600519
2020-07-02  1499.000  1544.000  1550.900  1495.000   45884.00  600519
2020-07-06  1538.000  1600.000  1616.000  1531.810   51822.00  600519
2020-07-07  1603.090  1688.000  1744.820  1601.000   66664.00  600519
2020-07-13  1714.680  1781.990  1787.000  1714.680   60727.00  600519

[315 rows x 6 columns]

In [20]:
data.loc[(data['close'] - data['open']) / data['open'] > 0.03].index

DatetimeIndex(['2001-08-27', '2001-08-28', '2001-09-10', '2001-12-21',
               '2002-01-18', '2002-01-31', '2003-01-14', '2003-10-29',
               '2004-01-05', '2004-01-14',
               ...
               '2020-03-05', '2020-03-10', '2020-04-02', '2020-04-22',
               '2020-05-06', '2020-05-18', '2020-07-02', '2020-07-06',
               '2020-07-07', '2020-07-13'],
              dtype='datetime64[ns]', name='date', length=315, freq=None)

In [21]:
#输出该股票所有开盘比前日收盘跌幅超过2%的日期。
#(开盘-前日收盘)/前日收盘 < -0.02
(data['open'] - data['close'].shift(1))/data['close'].shift(1) < -0.02

date
2001-08-27    False
2001-08-28    False
2001-08-29    False
2001-08-30    False
2001-08-31    False
2001-09-03    False
2001-09-04    False
2001-09-05    False
2001-09-06    False
2001-09-07    False
2001-09-10    False
2001-09-11    False
2001-09-12     True
2001-09-13    False
2001-09-14    False
2001-09-17    False
2001-09-18    False
2001-09-19    False
2001-09-20    False
2001-09-21    False
2001-09-24    False
2001-09-25    False
2001-09-26    False
2001-09-27    False
2001-09-28    False
2001-10-08    False
2001-10-09    False
2001-10-10    False
2001-10-11    False
2001-10-12    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
2020-08-03    False
2020-08-04    False
2020-08-05    False
2020-08-06    False
2020-08-07    False
2020-08-10    False
2020-08-11    False
2020-08-12    False
2020-08-13    False
2020-08-14    False
2020-08-17    False
2020-08-18    False
2020-08-19    False
2020-08-20    False
2020-08-21    False
2020-08-24    False
2020-08-25    False
2020-08-26    False
2020-08-27    False
2020-08-28    False
2020-08-31    False
2020-09-01    False
2020-09-02    False
2020-09-03    False
2020-09-04    False
Length: 4543, dtype: bool

In [22]:
#获取了满足需求的行数据
data.loc[(data['open'] - data['close'].shift(1))/data['close'].shift(1) < -0.02]

                open     close      high       low     volume    code
date
2001-09-12     5.520     5.621     5.656     5.515   25045.19  600519
2002-06-26     5.824     5.757     5.843     5.712   15423.00  600519
2002-12-13     4.508     4.628     4.670     4.508    2223.10  600519
2004-07-01     6.357     6.792     6.810     6.355    2781.62  600519
2004-10-29     9.658     9.899     9.986     9.658   14363.14  600519
2006-08-21    26.888    27.632    27.651    26.807    7293.21  600519
2006-08-23    27.401    27.789    27.958    27.401   21056.23  600519
2007-01-25    67.251    67.795    69.409    66.500   44848.15  600519
2007-02-01    62.553    65.687    66.294    62.246   25909.75  600519
2007-02-06    59.437    59.900    60.620    55.990   39522.56  600519
2007-03-19    59.437    60.920    61.445    59.306   25951.61  600519
2007-05-21    59.625    60.451    62.046    58.887   41508.22  600519
2007-05-30    65.061    63.791    68.183    62.434   72906.54  600519
2007-06-05    64.436    66.356    66.932    59.475   52948.78  600519
2007-07-27    75.885    75.224    77.107    74.916   16312.15  600519
2007-09-05    96.262    95.563    97.540    93.530   22879.69  600519
2007-09-10    88.286    89.457    90.842    88.286   40802.08  600519
2008-03-13   124.709   133.893   135.341   120.258   16690.09  600519
2008-03-17   125.917   126.345   128.404   124.954   17189.18  600519
2008-03-25   118.345   117.690   120.850   117.086   11287.82  600519
2008-03-27   113.938   113.976   118.332   113.875   18924.65  600519
2008-04-22   104.496   103.992   108.273    97.571   22129.42  600519
2008-04-23   101.600   107.656   108.902    98.830   12669.88  600519
2008-04-29   108.279   111.149   111.905   108.279    6149.26  600519
2008-05-13   111.093   112.654   115.134   110.287    5145.06  600519
2008-06-10   100.127    99.353   101.342    98.270   12715.58  600519
2008-06-13    93.234    94.103    95.305    93.234    6186.34  600519
2008-06-24    82.373    86.501    87.051    81.037   22052.73  600519
2008-06-27    90.147    88.799    90.945    88.007   16260.46  600519
2008-08-11    94.332    92.477    96.864    92.433    7999.41  600519
...              ...       ...       ...       ...        ...     ...
2013-01-16   149.162   149.889   150.471   148.201   69501.00  600519
2013-01-25   137.520   137.556   139.557   135.410   80007.00  600519
2013-09-02   120.844   114.170   120.844   114.155  224970.00  600519
2014-04-25   126.240   123.767   126.255   121.588   95877.00  600519
2015-01-19   153.735   149.046   155.603   145.640   64679.00  600519
2015-05-25   229.328   243.623   245.033   228.478   67473.00  600519
2015-07-03   216.587   212.179   221.259   205.716  109605.00  600519
2015-07-08   194.504   201.180   208.085   186.656  289140.00  600519
2015-07-13   219.135   218.923   225.574   213.190  148926.00  600519
2015-08-24   172.097   161.296   172.573   159.927   89812.00  600519
2015-09-02   180.759   185.038   185.409   179.894  106945.00  600519
2015-09-15   188.271   192.064   192.083   185.523   51884.00  600519
2017-11-17   686.256   680.587   699.074   668.281  123861.00  600519
2018-02-06   693.158   698.936   712.484   693.158   88168.00  600519
2018-02-09   670.480   673.862   680.232   648.788  105578.00  600519
2018-03-23   691.186   701.105   713.361   690.279   52546.00  600519
2018-03-28   690.170   672.501   693.158   659.634  113539.00  600519
2018-07-11   710.000   719.580   724.000   702.220   24278.00  600519
2018-10-11   635.010   644.990   668.940   635.010   91581.00  600519
2018-10-24   628.110   636.990   650.000   620.000   76112.00  600519
2018-10-25   620.000   619.000   622.500   608.580   75568.00  600519
2018-10-29   549.090   549.090   549.090   549.090   49076.00  600519
2018-10-30   510.000   524.000   543.000   509.020  204396.00  600519
2019-05-06   925.500   906.000   935.000   893.000  135099.00  600519
2019-05-08   860.000   884.400   901.800   860.000   81882.00  600519
2019-10-16  1168.000  1170.000  1187.500  1160.000   59150.00  600519
2020-01-02  1128.000  1130.000  1145.060  1116.000  148099.00  600519
2020-02-03   985.000  1003.920  1010.680   980.000  123442.00  600519
2020-03-13  1090.000  1112.030  1128.980  1080.000   75885.00  600519
2020-03-23  1000.000  1019.000  1035.280   991.520   48472.00  600519

[84 rows x 6 columns]

In [23]:
data.loc[(data['open'] - data['close'].shift(1))/data['close'].shift(1) < -0.02].index

DatetimeIndex(['2001-09-12', '2002-06-26', '2002-12-13', '2004-07-01',
               '2004-10-29', '2006-08-21', '2006-08-23', '2007-01-25',
               '2007-02-01', '2007-02-06', '2007-03-19', '2007-05-21',
               '2007-05-30', '2007-06-05', '2007-07-27', '2007-09-05',
               '2007-09-10', '2008-03-13', '2008-03-17', '2008-03-25',
               '2008-03-27', '2008-04-22', '2008-04-23', '2008-04-29',
               '2008-05-13', '2008-06-10', '2008-06-13', '2008-06-24',
               '2008-06-27', '2008-08-11', '2008-08-19', '2008-09-23',
               '2008-10-10', '2008-10-15', '2008-10-16', '2008-10-20',
               '2008-10-23', '2008-10-27', '2008-11-06', '2008-11-12',
               '2008-11-20', '2008-11-21', '2008-12-02', '2009-02-27',
               '2009-03-25', '2009-08-13', '2010-04-26', '2010-04-30',
               '2011-08-05', '2012-03-27', '2012-08-10', '2012-11-22',
               '2012-12-04', '2012-12-24', '2013-01-16', '2013-01-25',
               '2013-09-02', '2014-04-25', '2015-01-19', '2015-05-25',
               '2015-07-03', '2015-07-08', '2015-07-13', '2015-08-24',
               '2015-09-02', '2015-09-15', '2017-11-17', '2018-02-06',
               '2018-02-09', '2018-03-23', '2018-03-28', '2018-07-11',
               '2018-10-11', '2018-10-24', '2018-10-25', '2018-10-29',
               '2018-10-30', '2019-05-06', '2019-05-08', '2019-10-16',
               '2020-01-02', '2020-02-03', '2020-03-13', '2020-03-23'],
              dtype='datetime64[ns]', name='date', freq=None)

- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？
- 分析：买入股票使用开盘价，卖出股票使用收盘价
    - 买
        - 一个完整的年，需要买入12次股票，每次买入一手，共买入1200只股票
        - 买股票的单价，就是每次买入一手股票日期的开盘价。
    - 卖
        - 一个完整的年，需要卖出一次股票，一次卖出1200只。
        - 卖出股票的单价就是卖股票当天的收盘价作为单价
    - 特殊情况：
        - 2020年不是一个完整的年，只可以买入股票，无法卖出股票。但是手中剩余的股票价值也是需要计算到总收益中。

In [28]:
df = data['2010-1':'2020-9']

In [32]:
#需要获取买入股票的股票单价
df_monthly = df.resample('M').first() #获取了每一年每一个月的第一个交易日对应的行数据
df_monthly.head()

               open    close     high      low    volume    code
date
2010-01-31  109.760  108.446  109.760  108.044  44304.88  600519
2010-02-28  107.769  107.776  108.216  106.576  29655.94  600519
2010-03-31  106.219  106.085  106.857  105.925  21734.74  600519
2010-04-30  101.324  102.141  102.422  101.311  23980.83  600519
2010-05-31   81.676   82.091   82.678   80.974  23975.16  600519

In [33]:
#买股票花的钱
cost_money = df_monthly['open'].sum()*100
cost_money

4984805.100000001

In [36]:
#卖股票
df_yearly = df.resample('A').last()[:-1] #每一年最后一个交易日对应的行数据
df_yearly

                open     close      high       low   volume    code
date
2010-12-31   117.103   118.469   118.701   116.620  46084.0  600519
2011-12-31   138.039   138.468   139.600   136.105  29460.0  600519
2012-12-31   155.208   152.087   156.292   150.144  51914.0  600519
2013-12-31    93.188    96.480    97.179    92.061  57546.0  600519
2014-12-31   157.642   161.056   161.379   157.132  46269.0  600519
2015-12-31   207.487   207.458   208.704   207.106  19673.0  600519
2016-12-31   317.239   324.563   325.670   317.239  34687.0  600519
2017-12-31   707.948   687.725   716.329   681.918  76038.0  600519
2018-12-31   563.300   590.010   596.400   560.000  63678.0  600519
2019-12-31  1183.000  1183.000  1188.000  1176.510  22588.0  600519

In [37]:
recv_money = df_yearly['close'].sum() * 1200
recv_money

4391179.2

In [42]:
#用最后一个交易日的收盘价作为剩余股票价值的单价
last_money = df.iloc[-1]['close'] * 900

In [43]:
#总收益
last_money + recv_money - cost_money

999374.0999999996

In [47]:
#df和持久化存储操作
df.to_csv('./maotai.csv')

In [48]:
#读取数据
pd.read_csv('./maotai.csv')

            date      open     close      high       low    volume    code
0     2010-01-04   109.760   108.446   109.760   108.044  44304.88  600519
1     2010-01-05   109.116   108.127   109.441   107.846  31513.18  600519
2     2010-01-06   107.840   106.417   108.165   106.129  39889.03  600519
3     2010-01-07   106.417   104.477   106.691   103.302  48825.55  600519
4     2010-01-08   104.655   103.379   104.655   102.167  36702.09  600519
5     2010-01-11   104.400   102.926   105.230   102.422  24461.03  600519
6     2010-01-12   103.028   105.708   106.040   102.492  31063.40  600519
7     2010-01-13   104.649   103.022   105.389   102.741  37924.44  600519
8     2010-01-14   103.379   107.552   107.974   103.379  46454.64  600519
9     2010-01-15   107.533   108.401   110.641   107.533  45938.50  600519
10    2010-01-18   108.484   109.110   109.926   108.420  21461.53  600519
11    2010-01-19   109.116   108.337   109.441   108.165  17818.91  600519
12    2010-01-20   108.427   105.881   108.580   105.804  20972.95  600519
13    2010-01-21   105.842   106.397   107.450   105.613  17257.48  600519
14    2010-01-22   106.314   104.738   106.755   103.309  25432.94  600519
15    2010-01-25   104.560   105.957   106.761   103.704  23239.15  600519
16    2010-01-26   107.380   106.378   108.593   105.038  32889.16  600519
17    2010-01-27   105.951   104.643   107.068   104.400  19316.57  600519
18    2010-01-28   104.566   107.974   108.708   104.336  30267.52  600519
19    2010-01-29   108.452   107.552   108.612   107.004  37172.82  600519
20    2010-02-01   107.769   107.776   108.216   106.576  29655.94  600519
21    2010-02-02   107.208   106.263   108.484   106.117  15493.53  600519
22    2010-02-03   106.066   105.887   107.272   104.783  23034.65  600519
23    2010-02-04   105.868   107.591   108.006   105.376  22475.33  600519
24    2010-02-05   106.959   109.282   109.684   106.570  26234.30  600519
25    2010-02-08   109.282   109.269   112.058   108.816  31496.10  600519
26    2010-02-09   109.760   109.193   110.609   108.822  14151.24  600519
27    2010-02-10   109.760   109.652   110.137   108.931   6398.14  600519
28    2010-02-11   109.633   110.641   111.318   109.505  14945.05  600519
29    2010-02-12   111.018   110.456   111.164   109.888   9346.40  600519
...          ...       ...       ...       ...       ...       ...     ...
2560  2020-07-27  1616.010  1622.550  1629.800  1600.000  38788.00  600519
2561  2020-07-28  1630.000  1670.000  1680.000  1630.000  54912.00  600519
2562  2020-07-29  1690.000  1672.000  1690.000  1633.000  50748.00  600519
2563  2020-07-30  1671.200  1680.000  1700.590  1670.500  38373.00  600519
2564  2020-07-31  1685.000  1678.180  1705.000  1646.000  40685.00  600519
2565  2020-08-03  1686.880  1668.000  1696.580  1660.000  34661.00  600519
2566  2020-08-04  1675.000  1669.990  1682.990  1660.000  31941.00  600519
2567  2020-08-05  1662.090  1668.000  1673.090  1643.310  25522.00  600519
2568  2020-08-06  1670.000  1637.960  1674.030  1630.000  32649.00  600519
2569  2020-08-07  1644.770  1631.000  1649.670  1598.500  34242.00  600519
2570  2020-08-10  1627.970  1633.990  1644.960  1608.110  23624.00  600519
2571  2020-08-11  1640.000  1642.510  1666.430  1640.000  35818.00  600519
2572  2020-08-12  1633.000  1626.950  1641.000  1605.250  27934.00  600519
2573  2020-08-13  1630.000  1635.000  1638.880  1609.000  20541.00  600519
2574  2020-08-14  1639.900  1661.000  1665.700  1631.000  37653.00  600519
2575  2020-08-17  1674.000  1690.000  1704.350  1670.000  43572.00  600519
2576  2020-08-18  1697.380  1705.000  1720.000  1691.000  30423.00  600519
2577  2020-08-19  1700.000  1687.000  1717.000  1682.990  26915.00  600519
2578  2020-08-20  1674.000  1664.000  1679.000  1656.000  22382.00  600519
2579  2020-08-21  1673.000  1676.000  1698.000  1671.000  25082.00  600519
2580  2020-08-24  1700.000  1696.350  1708.000  1691.010  30933.00  600519
2581  2020-08-25  1704.800  1727.000  1746.780  1698.630  41872.00  600519
2582  2020-08-26  1734.000  1727.000  1745.000  1715.020  26216.00  600519
2583  2020-08-27  1731.990  1731.000  1733.980  1705.000  22636.00  600519
2584  2020-08-28  1731.000  1757.000  1764.000  1721.500  42300.00  600519
2585  2020-08-31  1770.580  1786.500  1816.000  1770.580  47810.00  600519
2586  2020-09-01  1792.000  1801.980  1802.000  1775.010  31640.00  600519
2587  2020-09-02  1825.000  1795.000  1828.000  1770.000  32009.00  600519
2588  2020-09-03  1795.000  1793.000  1812.000  1779.700  30437.00  600519
2589  2020-09-04  1766.000  1770.000  1776.990  1746.000  30858.00  600519

[2590 rows x 7 columns]